# Ignore everything in the data directory
data/*
#except models
!data/models

.env
build
dist
archive
Plots/*
CNN_Results/*
*.png
*.json
*.npy
CV_Tests/*
*.ods
.ipynb_checkpoints/
__pycache__/
.DS_Store
.vscode
*.egg-info
.ipynb_checkpoints/
.venv/
.log
.cache
log/
*.egg-info
