numpy==1.14.3
git+https://github.com/pathak22/pyflow.git
git+https://github.com/benscott/gco_python.git
ipython==6.4.0
matplotlib==2.2.2
numba==0.38.0
scikit-image==0.13.1
pandas==0.23.0
jupyter==1.0.0